@import "tailwindcss";

.input {
  @apply border rounded px-3 py-2 text-sm w-full;
}

.btn-primary {
  @apply bg-orange-600 text-white px-4 py-2 rounded text-sm;
}

.btn-secondary {
  @apply bg-gray-200 px-4 py-2 rounded text-sm;
}

.btn-success {
  @apply bg-green-600 text-white px-4 py-2 rounded text-sm;
}